@media only screen and (max-width: 600px) {
  .beginning{
    position: relative;
  }
  header h2 {
    position: relative;
    left: -88px;
    top: 0px;
  }
  #shopping{
    position: relative;
    top: 2px;
    left: -150px;
    margin-left: 2px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    z-index: 99;
  }
  #shopping > #shopping-count {
    position: absolute;
    top: -11px;
    right: -12px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    background-color: black;
  }
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    position: absolute;
    color: white;
    top: 5px;
    right: 5px;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px;
  }
  #banner h2 {
    font-size: 15px;
  }
  .footer-distributed .footer-desno{
    width: 100%;
    text-align: center;
  }
}
#shopping-side-menu {
  position: fixed;
  top: 70px;
  right: 0;
  width: 0;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 12px 16px;
  border-left: 1px solid #ccc;
  background-color: #f4f4f4;
  overflow-y: auto;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#shopping-side-menu.active {
  width: 100vw;
  opacity: 1;
  visibility: visible;
}
#shopping-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  padding: 16px 8px;
}

.footer-distributed .footer-onama{
  text-align: center;
 }
 .footer-distributed{
  background-color: black;
  width: 100%;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
 }
  .footer-distributed .footer-lijevo{
    width: 100%;
    text-align: center;
   }
  .footer-distributed .footer-sredina{
    width: 100%;
    text-align: center;
  }
  .footer-desno footer-icons {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  #social-media-links{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
   }

 @media (max-width: 880px) {
  
  .footer-distributed .footer-lijevo,
  .footer-distributed .footer-sredina,
  .footer-distributed .footer-desno{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-sredina i{
  margin-left: 0;
  }
 }

@media only screen and (min-width: 600px) {
  
  #shopping-side-menu.active {
    width: 350px;
    opacity: 1;
    visibility: visible; 
  }
  #hamburger-menu {
    display: none;
  }
  #main-menu {
    display: flex;
  }
  #shopping {
    position: relative;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 12px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 0;
  }
  #shopping > #shopping-count {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    min-width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    background-color: black;
  }
  .footer-distributed{
    background-color: black;
    width: 100%;
    text-align: left;
    font-family: 'DM Sans', sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
  }
  .footer-lijevo,
  .footer-sredina,
  .footer-desno{
    display: inline-block;
  }
  
 .footer-distributed .footer-lijevo{
  width: 40%;
  text-align: left;
 }
}

.shopping-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr 1fr;
  grid-template: auto auto / 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  text-align: left;
}
.shopping-item > .close {
  position: absolute;
  right: 16px;
  top: 12px;
  opacity: 0.8;
  cursor: pointer;
  color: red;
  size: 1cm;
}
.shopping-item > h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin: 4px 0;
}
.item-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 0;
}
.item-info > small {
  color: #666;
  margin-bottom: 4px;
}
.amount-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.amount-box > button {
  height: 30px;
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.8);
  background-color: #eee;
}
.amount-box > button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
#navrh {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
}
#navrh:hover {
  opacity: 0.8;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  background-color: #f4f4f4;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#gornjaslika {
  height: 45px;
  width: 45px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

section {
  padding: 10px 0 0px;
  text-align: center;
}
button {
  display: block;
  min-width: 150px;
  padding: 8px 16px;
  margin: 12px auto;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'DM Sans', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

button.green {
  background-color: green;
}

button.green:hover {
  opacity: 0.8;
}

header {
  position: sticky;
  top: 0;
  min-height: 70px;
  background-color: green;
  z-index: 3;
}
header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
header h2 {
  margin: 0;
  padding: 12px 0;
  color: white;
  font-size: 30px;
  white-space: nowrap;
}


nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
nav .link {
  padding: 8px 12px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
nav .link:hover {
  text-decoration: underline;
}
nav .link:first-of-type {
  padding-left: 0;
}
nav .link:last-of-type {
  padding-right: 0;
}

#banner {
  background: url("../slike/pool-tables-in-hall-543205009-5b4a231b46e0fb00378dd715_1.jpeg");
  background-color: green;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-size: cover;
}
#banner img {
  width: 100%;
  height: auto;
}
#banner .text {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top;
  color: white;
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}
#banner h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}
#banner span {
  display: block;
  margin: 8px 0 16px;
  font-size: 28px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background-color: darkgreen;
  width: 0%;
}

#artikli > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5px 0;
}

.artikli-card {
  width: 350px;
  margin: 8px;
  padding: 16px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.artikli-card:hover {
  background-color: white;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.artikli-card > img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.artikli-card > p {
  font-size: 15px;
  color: gray;
}
.artikli-card em {
  font-size: 20px;
  padding-left: 4px;
}
.artikli-card button.green {
  position: relative;
  bottom: 2px;
}

#cjenik {
  background: url("../slike/pool-tables-in-hall-543205009-5b4a231b46e0fb00378dd715_1.jpeg") center no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
  padding-bottom: 50px;
}
table {
  display: -ms-grid;
  display: grid;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 16px;
  text-shadow: 2px 2px black;
}
tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  border-bottom: 1px solid white;
}
th {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}
td:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 18px;
}
input {
  margin-top: 4px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: 'DM Sans', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 250px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 0.5;
}
input::placeholder,
textarea::placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 0.5;
}

footer{
  position: bottom;
  bottom: 0;
 }
 
  


 .end {
  display: inline-block;
  color:  green;
  font-size: 45px;
  margin: 0;
  vertical-align: middle;
  }

 #donjaslika {
  height: 50px;
  width: 50px;
 }

 .footer-distributed h3 span{
  color:  green;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }

  
 .footer-distributed .footer-sredina{
  width: 38%; 
  margin: 0 auto; 
  text-align: left
 }

 .footer-distributed .footer-sredina i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px;
  vertical-align: middle;
  
 }
  
 .footer-distributed .footer-sredina p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  text-align: left;
  margin:0;
 }
  
 .footer-distributed .footer-sredina p span{
  display:block;
  font-weight: normal;
  font-size:30px;
  line-height:2;
 }
  
 .footer-distributed .footer-sredina p a{
  color:  #5383d3;
  text-decoration: none;
 }
  
 .footer-distributed .footer-desno{
  width: 20%;
 }
  
 .footer-distributed .footer-onama{
  line-height: 20px;
  color:  white;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  text-align: right;
 }
  
 .footer-distributed .footer-onama span{
  display: block;
  color:  white;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
  text-align: right;
 }
  


 form {
   margin: 0px;
   padding: 0px;
  }
 
  input[type=text], input[type=submit] {
    width: 70%;
    margin: 8px 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  input[type=submit] {
    background-color: green;
    color: white;
    border: none;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }

  h4 {
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 20px;
    margin: 5px;
  }
  p {
    text-align: center;
  }
  em {
    color: black;
  }
  strong {
    color: black;
  }
  #copyright  {
    color: white;
  }
  #copyright em {
    color: white;
  }
  #copyright strong {
    color: white;
  }

#social-media-links {
  border-radius: 10%;
  color: white;
  font-size: 20px;
  transition: all 0.5s ease;
}
#social-media-links:hover {
  background-color: green;
}

#sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  padding: 0px 10px;
  box-sizing: border-box;
  transition: 0.3s;
}
.linkovi {
  text-decoration: none;
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top:100px;
}
#sidebar-menu.active {
  visibility: visible;
  left: 0;
}